.Wrapper {
  max-width: 100% ;
  display: grid;
  margin: auto 6%;
  grid-template-areas: 
  "list floorplan"
  "list .";
  grid-template-columns: 2fr 8fr;
  gap: 1rem;
  height: inherit;
  position: relative;
}


.camera {
  margin: auto 6%;
  display: flex;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(141, 141, 141, 0.1);
  padding: 0.8rem;
  overflow-y: auto;
  border: var(--default-boarder);
  height: auto;
  min-width: 100px;
  display: grid;
  justify-content: left;

}

.buttonGroup {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  position: inherit;
  text-align: center;
}