body {
    margin: 0;
    overflow-x: clip;
}

*, :after, :before {
    box-sizing: border-box;
}

main {
    grid-area: main;
}
.mainWrapper {
    position: relative;
    display: grid;
    margin: 0;
    grid-template-areas: "sidebar main";
    grid-template-columns: var(--sidebar-width) 1fr;
    height: auto;
}