body {
    margin: 0;
    overflow-x: hidden;
}


*, :after, :before {
    box-sizing: border-box;
    
}

main {
    grid-area: main;
    padding: 1rem 2rem 90vh 2rem;
    
    
}
.mainWrapper {
    display: grid;
    margin: 0;
    grid-template-areas: "sidebar main";
    grid-template-columns: var(--sidebar-width) 1fr;
    height: 100%;
}